<div id="story-container" class="w-full max-w-md p-8 space-y-6 m-auto">
	<div class="flex flex-col gap-2">
		<span class="text-sm font-bold text-gray-600"
			>Difficulty: {{ story_difficulty }}</span
		>
		<span class="text-sm font-bold text-gray-600"
			>Length: {{ story_length }}</span
		>
	</div>
	<h2 class="text-3xl font-bold text-center text-gray-700">{{ title }}</h2>
	<p class="text-lg font-sans text-gray-600">{{ story }}</p>
	<div class="flex flex-col items-center justify-center gap-4">
		<div
			id="translation-spinner"
			class="htmx-indicator flex items-center justify-center"
		>
			<div class="spinner text-gray-600"></div>
			<span class="ml-2 text-gray-600">Translating...</span>
		</div>
		<button
			class="button-style"
			hx-post="/reading/translate"
			hx-target="#story-container"
			hx-indicator="#translation-spinner"
		>
			Translate
		</button>
	</div>

	{% if story_translation %}
	<div class="w-full bg-blue-50 rounded-xl shadow p-6 space-y-4 mt-6">
		<h2 class="text-3xl font-bold text-blue-700 text-center mb-2">
			{{ title_translation }}
		</h2>
		<p class="text-lg font-sans text-blue-700 text-center">
			{{ story_translation }}
		</p>
	</div>
	{% endif %}
</div>
